
.css-hz1bth-MuiDialog-container {
  height: auto !important;
  align-items: normal !important;
 
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper .css-uhb5lp {
border-radius:  12px !important;
max-width: 1600px !important;
max-height: 1600px !important;
padding: 0 0 !important;
}

.css-ypiqx9-MuiDialogContent-root {
  padding: 0 0 !important;
}

.input-alert:focus {
outline: 0;
border-bottom: 1px solid #eb1282;
transition-duration: .3s;
-webkit-transition-duration: .3s;
}

.css-1ty026z {
  padding: 0 0 !important;
  margin: 32px !important;
}
.css-hz1bth-MuiDialog-container  {
max-width: auto !important;
}
.css-ekeie0 {
  height: auto !important;
}